/*===================================================
 @Package Static CSS
 @Author taichi.ito - http://twitter.com/tic01

 LIST OF CONTENT
 + Base Style：html要素初期設定・汎用クラスセレクタ
 + Structure Style：サイト共通レイアウト
 + Contents Style：コンテンツレイアウト
 + Responsive Style：レスポンシブレイアウト
===================================================*/
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@font-face
{
	font-family: mplus-1p-regular;
	src: url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-regular.ttf')
	format("truetype");
}
/*==================================================
 Base Style
===================================================*/
html * { margin:0; padding:0; }
html { background-color: #FFFFFF; font-size:100%; }
body {
  font-family: Lato, "游ゴシック体", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	text-rendering: optimizelegibility;
	font-size: 14px;
	font-weight:normal;
	height: 100%;
	line-height: 1.5;
	color: #222222;
}
.clearfix{
    min-height: 1px;
    position: relative;
}
* html .clearfix{ height: 1px; }
.clearfix:after { 
	content: ".";
	height: 0;
	visibility: hidden;
	clear: both;
	display: block;
}
.container{
    min-height: 1px;
    position: relative;
}
* html .container,
* html .inner { height: 1px; }
.container:after,
.inner:after { 
	content: ".";
	height: 0;
	visibility: hidden;
	clear: both;
	display: block;
}
/*===== heading =====*/
h1, h2, h3, h4, h5, h6 {
	margin:0 0 20px 0;
	font-weight:bold;
}
h1 { font-size:32px; }
h2 { font-size:26px; }
h3 { font-size:16px; margin:0; }
h4 { font-size:14px; }
h5 { font-size:12px; }
h6 { font-size:10px; }
h2 {clear:both;}

/*===== Link =====*/
a {color:#000; }
a:hover { color:#888; }
a:link, a:visited, a:focus {
	outline: medium none;
}
/*===== List =====*/
ul, ol {margin: 15px 0; list-style-type:none;}
li { padding:5px 0; }
li:first-child {padding:0 0 5px 0;} 
.square { list-style-type:square; margin-left:15px; }
.num { list-style-type:decimal; margin-left:20px; }
.circle { list-style-type:circle; margin-left:15px; }
.disc {list-style-type:disc; margin-left:15px; }
ul.icon-check, ul.icon-arrow { margin-left: 25px; margin-top: 20px; }
ul.icon-check li {
    list-style-image: url("../images/onepoint.png");
	padding-bottom: 10px;
}
ul.icon-arrow { margin-left:20px; }
ul.icon-arrow li {
	list-style-image: url("../images/list_style_arrow.png");
	padding-bottom: 5px;
}
ul.icon-linemark li:before {
	content:'-';
	padding-right:3px;
	color:#162b79;
	font-weight:bold;
}
ul.icon-linemark {padding-left:6px;}
ul span { color:#222222; }
/*===== Text =====*/
p {
	line-height: 28px;
	letter-spacing: 0.035em;
	margin: 0 0 1.5em;
}
.bold {font-weight:bold;}
.nomal {font-weight:normal;}
.trgt { text-align:right; }
.tlft { text-align:left; }
.tcnt { text-align:center; }
code {
	/*color:#D4A017;*/
	background-color:#F2F2F2;
	font-weight:bold;
	border: 1px solid #E1E1E8;
	padding:5px 10px;
	margin:0 5px;
}
/*===== Layout =====*/
/* Margin */

/* Padding */

/* Line */
hr {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin: 2em 0;
	border: 0;
	height: 1px;
	background: #F1F1F1;
	background-image: -webkit-linear-gradient(left, #f1f1f1, #ccc, #f1f1f1);
	background-image:    -moz-linear-gradient(left, #f1f1f1, #ccc, #f1f1f1);
	background-image:     -ms-linear-gradient(left, #f1f1f1, #ccc, #f1f1f1);
	background-image:      -o-linear-gradient(left, #f1f1f1, #ccc, #f1f1f1);
}
/* Image */
img {
	max-width:100%;
}
img.oniloq {
	float:right;
	margin-left: 20px;
	margin-bottom: 20px;
}
.box {
	background-color: #FFFFFF;
	padding:3px;
	box-shadow: 1px 1px 3px #CCCCCC;
}
.body iframe {
	width:800px;
	height: 400px;
	background-color: #FFFFFF;
	padding:20px;
	margin-top:-15px;
	margin-bottom:20px;
	box-shadow: 1px 1px 3px #CCCCCC;
}
/* Blockquote */
blockquote, div.link {
	background-color: #F2F2F2;
	margin: 20px 5px 30px 0;
	color: #585858;
	padding: 15px 30px 15px 20px;
}
blockquote {
	border-left: 8px solid #bfbfbf;
}
div.link {
	/*border-left: 8px solid #0099FF;*/
	border-left: 8px solid #5bf;
}
blockquote ul, div.link ul {
	margin-bottom:5px;
}

/* table */
table th { white-space:nowrap; }
/* 横方向 */
table.side {
	background-color: #FFFFFF;
	border-collapse: collapse;
	border-right: 1px solid #D1D1D1;
	margin: -15px 0 20px;
	width: 100%;
}
table.side tr:first-child {
	border-top: 4px solid #D1D1D1;
}
table.side tr:first-child th {
	border-top: 4px solid #66c2ff;
}
table.side th {
	background-color: #EFEFEF;
	border-bottom: 1px solid #D1D1D1;
	border-left: 1px solid #D1D1D1;
	padding: 10px;
	text-align: left;
	width:150px;
}
table.side td {
	background-color: #FFFFFF;
	border-bottom: 1px solid #D1D1D1;
	border-left: 1px solid #D1D1D1;
	padding: 10px;
	text-align: left;
	vertical-align: top;
}
/* 縦方向 */
table.long {
	background-color: #FFFFFF;
	border-collapse: collapse;
	border-right: 1px solid #D1D1D1;
	margin: -15px 0 20px;
	width: 100%;
}
table.long tr:first-child {
	border-top: 4px solid #66c2ff;
}
table.long th {
	background-color: #EFEFEF;
	border-bottom: 1px solid #D1D1D1;
	border-left: 1px solid #D1D1D1;
	padding: 10px;
	text-align: left;
}
table.long td {
	background-color: #FFFFFF;
	border-bottom: 1px solid #D1D1D1;
	border-left: 1px solid #D1D1D1;
	padding: 10px;
	text-align: left;
	vertical-align: top;
}
/* color */
.gray {color: #808080;}
.blue {color:#44b4ff;}
.wblue {color:#78e4ff;}
.red {color:#BC123A;}
.gold {color:#D4A017;}
/* display */
.hide {display:none;}
.show {display:block;}
/*==================================================
 Structure Style
===================================================*/
#wrapper{ }
#page-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 77%;
}
#page-top a {
	font-family: 'PT Sans';
	background: none repeat scroll 0 0 #999999;
	color: #FFFFFF;
	display: block;
	font-size: 10px;
	font-weight:bold;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 30px;
	border-radius: 3px 3px 3px 3px;
}
#page-top a:hover {
	text-decoration: none;
	background: #707070;
	color: #FFFFFF;
}
#header, #main, #footer {max-width:100%;}
#header {
	min-height:1px;
    background-color: #FFFFFF;
	background-image: -moz-linear-gradient(center top , #FFFFFF, #F8F8F8);
	border-bottom: 1px solid #CDCDCD;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	text-shadow: 0 1px #FFFFFF;
	height: 40px;
	z-index: 100;
}
#header:after {
	content: ".";
	height: 0;
	visibility: hidden;
	clear: both;
	display: block;
}
#main {
	font-family: mplus-1p-regular, "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Osaka","メイリオ","ＭＳ Ｐゴシック","serif";
	margin:0 auto;
	padding-bottom: 40px;
	padding-top: 20px;
}
#footer { 
	font-size:12px;
	border-top:1px solid #DEDEDE;
	min-height:1px;
}
/* Class */
.container {padding: 0 30px;}
.content { padding: 0 30px; }
.inner { width:900px; margin:0 auto;}
/*===== Header ====*/
#header .brand {
	border-left: 1px solid #E8E8E8;
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
}
#header .brand a {
	background-color: transparent;
	background-image: url("../images/logo.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	float: left;
	margin: 10px 15px;
	overflow: hidden;
	padding: 0;
	text-indent: -1000px;
	width: 60px;
	height: 20px;
}
#header .brand a:hover {
	opacity:0.5;
}
#header h1,
#header p.brand-description{
	border-left: 1px solid #E8E8E8;
	color: #333333;
	display: inline-block;
	float: left;
	font-size: 9px;
	line-height: 43px;
	padding-left: 10px;
	margin-bottom:0;
}
#header p.brand-description {font-weight:bold;}
#header .hnavi {
	float:right;
	border-left: 1px solid #E8E8E8;
	border-right: 1px solid #E8E8E8;
	font-size:10px;
	font-weight:bold;
	line-height:43px;
	padding:0 20px;
}
#header .hnavi.first {border-left:0px;}
#header .hnavi a {
	display: inline-block;
	text-decoration:none;
}
/*===== Footer =====*/
#footer .finfo { margin-top:1em; }
#footer .finfo .ficon,
#footer .finfo .fmenu,
#footer .finfo p { text-align:right;margin: 0.5em 0 0 0; }
#footer .finfo .ficon * {
	display:inline-block;
	height: 15px;
	width: 15px;
	border: 1px solid #CDCDCD;
	padding:3px;
	text-align:center;
	text-decoration: none;
	font-size: 12px;
	/*font-weight: bold;*/
	-moz-transition: all 0.1s ease-out 0s;
}
#footer .finfo .ficon span {
	color:#D4A017;
	font-weight:bold;
	margin-left:0;
}
#footer .finfo .ficon a { }
#footer .finfo .ficon a.tw:hover {color:#00baf3;border:1px solid #00A0D1;}
#footer .finfo .ficon a.fb:hover {color:#4467b0;border:1px solid #3B5998;}
#footer .finfo .ficon a.ml:hover {color:#bc123a;border:1px solid #9d0f30;}
#footer .finfo .ficon a.rss:hover {color:#F68F19; border: 1px solid #e47e09;}
#footer .finfo .fmenu { margin:0;}
/*==================================================
 Contents Style
===================================================*/
/* ===== HOME =====*/
#contents {
	text-align:center;
	width: 920px;  
	position: absolute;  
	top: 50%;  
	left: 50%;  
	margin: -110px 0 0 -480px;  
	padding: 20px;
}
#contents img {
}
#contents .navi {
	padding: 20px 0;
}
#contents .navi span {}
#contents .navi span span {font-weight:bold;color:#D4A017;}
/*====== ABOUT =====*/
#main div.description {
	font-weight:bold;
	color: #FFFFFF;
	/*background-color: #00A4CD;*/
	/*border:1px solid #0089ab;*/
	background-color: #01bdbc;
	border:1px solid #01acab;
	padding: 20px;
	margin-bottom: 20px;
}

/*==================================================
 Responsive Style
===================================================*/
/* Phone */
@media only screen and (min-width: 300px) and (max-width: 580px) {
	body {
		font-size: 12px;
		line-height:1.2;
	} 
	body, #wrapper, #header, #footer { width:100%; }
	#contents {
		width: 95%;
		margin: 0 auto; 
		top: 0;
		left: 0;
		padding: 30px 0;
		position: relative;
	}
	#contents img {
		width: 300px;
	}
	#contents .navi {
		padding: 5px 0;
		font-size: 11px;
	}
	#main, #footer{ width:95%; padding: 20px 5px; }
	.inner{ width:100%; }
	.container { width:100%; padding:0; }
	/*div { margin: 0 !important; }*/
	div:after {
		content: ".";
		height: 0;
		visibility: hidden;
		clear: both;
		display: block;
	}
	img { width:100%;}
	h1,h2,h3,h4,h5,h6 { margin: 0 0 5px 0; }
	h1 { font-size: 16px; }
	h2 { font-size: 14px; }
	h3,h4,h5,h6 { font-size: 12px; }
	ul.num {margin-left:15px;}
	p { line-height: 1.5; }
	table {font-size: 10px;}
	table.side {
		margin: 0 0 20px;
		max-width: 100%;
	}
	table.side th {
		padding: 3px;
		width: 20%;
	}
	table.long {
		margin: 0 0 20px;
		max-width: 100%;
	}
	table.long th {
		padding: 3px;
		width: 20%;
	}
	#page-top {
		bottom: 5px;
		right: 5px;
		font-size: 70%;
	}
	#page-top a {
		font-family: mplus-1p-regular, 'PT Sans';
		background: none repeat scroll 0 0 #999;
		color: white;
		display: block;
		font-size: 10px;
		font-weight: bold;
		line-height: 30px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		width: 80px;
		border-radius: 3px 3px 3px 3px;
	}
	/*===== header =====*/
	#header .brand {
		border-left: 0px;
		border-right: 1px solid #E8E8E8;
		display: inline-block;
		float: left;
		margin: 0;
		padding: 0;
	}
	#header .brand a { margin: 10px; }
	#header h1, #header p.brand-description {
		border-left: 0px;
	}
	/*#header h1 { display:none; }*/
	/*===== main =====*/
	img.oniloq {display:none;}
	#crumbs { display:none; } 
	#main .container .body img,
	#main .container .body img.line1 { float:center; display: block; max-width:100%; margin: 10px 0; margin-left:auto; padding: 3px;}
	#main .container .body .ga { margin: 0 0 10px 0;}
	#main .container .body .ga img { max-width:100%; padding: 3px; margin: 0 0 10px 0; margin-left:auto;}
	#main .container .body .ga img:nth-child(odd) { float:none; margin-left: 0; }
	#main .container .body .ga img:nth-child(even) { float:none; margin-left: 0; }
	.body iframe {
		width: 100%;
		height: 100%;
		background-color: white;
		padding: 3px;
		margin-top: 0;
		margin-bottom: 0;
		box-shadow: 1px 1px 1px #CCC;
	}
	code {
		background-color: #F2F2F2;
		font-weight: bold;
		border: 1px solid #E1E1E8;
		padding: 3px 5px;
		margin: 0 2px;
	}
	#main #article-footer .share { margin-bottom: 10px; }
	#main #article-footer .share a.rss { display:none; }
	#main #article-footer .neighbors {margin-top: 10px;}
	#main #article-footer .neighbors div { line-height: 1.2; }
	#main #article-footer .neighbors div:first-child { margin-bottom:20px; }
	#main #article-footer .neighbors div.prev a { padding-left: 2px; }
	#main #article-footer .hapimemo {
		margin-top: 2em;
		background-color: #F2F2F2;
		border-left: 8px solid #E85C94;
		margin: 10px 0px 10px 0;
		color: #585858;
		padding: 15px 30px 15px 20px;
	}
	/*===== footer =====*/
	#footer {padding-bottom: 50px;}
	#footer .frecent { float: none; width: 100%; }
	#footer .fnavi { float: none; width: 100%; }
	#footer h2 { font-size: 13px; margin: 0 0 5px; }
	#footer .finfo { margin-top: 1em; }
	#footer .finfo .fmenu, #footer .finfo p { font-size:10px; }
}
/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 1224px) {
	body {
		font-size: 14px;
		line-height:1.2;
	} 
	body, #wrapper, #header, #footer { width:100%; }
	#main, #footer { width:95%; padding: 20px 5px; }
	#contents {
		width: 95%;
		margin: 0 auto; 
		top: 0;
		left: 0;
		padding: 150px 0;
		position: relative;
	}
	#contents img {
		width: 300px;
	}
	#contents .navi {
		padding: 5px 0;
		font-size: 14px;
	}
	.inner{ width:100%; }
	.container { width:100%; padding:0; }
	/*div { margin: 0 !important; }*/
	div:after {
		content: ".";
		height: 0;
		visibility: hidden;
		clear: both;
		display: block;
	}
	img { width:100%;}
	h1,h2,h3,h4,h5,h6 { margin: 0 0 5px 0; }
	h1 { font-size: 20px; }
	h2 { font-size: 18px; }
	h3,h4,h5,h6 { font-size: 16px; }
	ul.num {margin-left:15px;}
	p { line-height: 1.5; }
	table {font-size: 12px;}
	table.side {
		margin: 0 0 20px;
		max-width: 100%;
	}
	table.side th {
		padding: 3px;
		width: 20%;
	}
	table.long {
		margin: 0 0 20px;
		max-width: 100%;
	}
	table.long th {
		padding: 3px;
		width: 20%;
	}
	#page-top {
		bottom: 5px;
		right: 5px;
		font-size: 77%;
	}
	#page-top a {
		font-family: mplus-1p-regular, 'PT Sans';
		background: none repeat scroll 0 0 #999;
		color: white;
		display: block;
		font-size: 10px;
		font-weight: bold;
		line-height: 30px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		width: 80px;
		border-radius: 3px 3px 3px 3px;
	}
	/*===== header =====*/
	#header .brand {
		border-left: 0px;
		border-right: 1px solid #E8E8E8;
		display: inline-block;
		float: left;
		margin: 0;
		padding: 0;
	}
	#header .brand a { margin: 10px; }
	/*#header h1 { display:none; }*/
	#header h1, #header p.brand-description {
		border-left: 0px;
	}
	/*===== main =====*/
	img.oniloq {display:none;}
	#crumbs { display:none; } 
	#main .container .body img,
	#main .container .body img.line1 { float:center; display: block; max-width:100%; margin: 10px 0; margin-left:auto; padding: 3px;}
	#main .container .body .ga { margin: 0 0 10px 0;}
	#main .container .body .ga img { max-width:100%; padding: 3px; margin: 0 0 10px 0; margin-left:auto;}
	#main .container .body .ga img:nth-child(odd) { float:none; margin-left: 0; }
	#main .container .body .ga img:nth-child(even) { float:none; margin-left: 0; }
	.body iframe {
		width: 100%;
		height: 100%;
		background-color: white;
		padding: 3px;
		margin-top: 0;
		margin-bottom: 0;
		box-shadow: 1px 1px 1px #CCC;
	}
	code {
		background-color: #F2F2F2;
		font-weight: bold;
		border: 1px solid #E1E1E8;
		padding: 3px 5px;
		margin: 0 2px;
	}
	#main #article-footer .share { margin-bottom: 10px; }
	#main #article-footer .share a.rss { display:none; }
	#main #article-footer .neighbors {margin-top: 10px;}
	#main #article-footer .neighbors div { line-height: 1.2; }
	#main #article-footer .neighbors div:first-child { margin-bottom:20px; }
	#main #article-footer .neighbors div.prev a { padding-left: 2px; }
	#main #article-footer .hapimemo {
		margin-top: 2em;
		background-color: #F2F2F2;
		border-left: 8px solid #E85C94;
		margin: 10px 0px 10px 0;
		color: #585858;
		padding: 15px 30px 15px 20px;
	}
	/*===== footer =====*/
	#footer {padding-bottom: 50px;}
	#footer .frecent { float: none; width: 100%; }
	#footer .fnavi { float: none; width: 100%; }
	#footer  h2 { font-size: 13px; margin: 0 0 5px; }
	#footer .finfo { margin-top: 1em; }
	#footer .finfo .fmenu, #footer .finfo p { font-size:11px; }
}
@media only screen and (min-width: 480px) {
	#main #article-footer .share a.rss { display:block; }
}
